<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create student</title>
</head>
<body>
  <h1>Create student</h1>
  <!-- html forms er som en klasse med attributter,
  submit gør at den leder efter /create metode, der laves objekt af sikkert javascript
  eller andet sprog som så sendes til controllerens /create metode, som den
  tager ind gennem webrequest

  på localhost tryk inspect og under "network" øverst kan man se
  indsen data og tryk på create som kommer frem og på payload
  payload = last, det man tastede ind, anna, kvinde osv
  eksamen: forklare flowet gennem hjemmeside > html forms >  controller > service > repo > database
  -->
  <form action="/create" method="post"> <!--/create er endpointet. post og get er http metoder
  post og get http-metoderne spørger om der er en /create metode i controlleren med (/create)
   nedenunder tages hver attribut i student ind i html variabler (for=""), de
   tages ind i controllerens @PostMapping(/create) metode-->
      <label for="name">Navn</label><br>
    <input type="text" name="name"><br>
      <label for="email">Email</label><br>
      <input type="text" name="email"><br>
      <label for="gender">Køn</label><br>
      <input type="text" name="gender"><br><br>
      <button type="submit">Send</button> <!-- knap hænger sammen med hele formen
      brug hellere radio buttoms ved køn se w3-->

  </form>
</body>
</html>